{% extends 'base.html' %} 
{% block content %}
<script>
$(document).on("click", ".delete-dialog", function () {
  var id = $(this).data('id');
	$("#recordID").val( id );
});
function delete_record(fundraiser_id)
{
	location.href = "/fundraisers/delete/"+$("#recordID").val();
}
</script>
<style>
.listing {
	float: left;
	padding: 10px;
	margin: 10px;
	border: 1px solid;
	text-align: center;
}
.titleh {
	font-size: 14px;
    color: #1765a6;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
}
</style>

    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              {{ heading }}
            </h1>
          </div>
        </div>
      </div>
    </div>
<!-- //breadcrumbs -->

<div class="container">
		<div class="row">
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
		  {% endif %}
		  <div class="col-lg-12">
					<div class="row">
						{% for fundraiser in fundraiserlist %}
							<div class="col listing">
								<div class="titleh">{{fundraiser.fundraiser_name}}</div>
								<img src="{{fundraiser.fundraiser_image}}" style="height:160px; width:250px"><br>
								<div>Goals : $ {{fundraiser.fundraiser_goal}} USD</div>
								<div>{{fundraiser.type_name}}</div>
								<div>From : {{fundraiser.fundraiser_from_date}} - To : {{fundraiser.fundraiser_to_date}}</div>
								<a href="/fundraisers/fundraiser-details/{{fundraiser.fundraiser_id}}" class="btn btn-danger" style="width:100%; margin-top:10px;">Donate</a>
							</div>
						{% endfor %}	
					</div>
			</div>
		</div>
	</div>
{% endblock content %}