{% extends 'base.html' %}
{% block content %}
     <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              About
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
      <div class="row mar-b-50">
        <div class="col-lg-5">
          <div class="about-carousel wow fadeInLeft">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <img src="/assets/img/1.png" alt="">
                  <div class="carousel-caption">
                    <p>
                      Fundraisers Management
                    </p>
                  </div>
                </div>
                <div class="item">
                  <img src="/assets/img/2.jpeg" alt="">
                  <div class="carousel-caption">
                    <p>
                      Donation Management
                    </p>
                  </div>
                </div>
                <div class="item">
                  <img src="/assets/img/3.jpeg" alt="">
                  <div class="carousel-caption">
                    <p>
                      User Management
                    </p>
                  </div>
                </div>

              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left">
                </i>
              </a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right">
                </i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 about wow fadeInRight">
          <h3>About Fundraising Portal</h3>
          <p>Fundraisers generate revenue for a charitable organisation through various means, their contribution is often the only thing keeping a charity functioning as most organisations do not receive any government grants. In order to raise this money, they will approach individual people, corporations, major donors, trusts and foundations as well as doing things like organising events, all in order to raise money for their particular cause. A fundraiser may be concerned with raising awareness for their charity’s cause, but fundamentally the purpose of charity fundraising is to develop and ultimately increase donations from the organisations and individuals they work with.</p>
          <p>A quick look at CharityJob and you’ll see we have a number of different positions, some you might recognise, and others which are more ambiguous. One thing you’ll notice is that quite a few jobs are for fundraising. People inside the charity sector will be well aware of the nitty-gritty of fundraising, however, if your hail from the corporate world, things can seem a little confusing. You may have an image in your head, but fundraising is hardly rattling the donation tin on the high street. Read on to find out exactly what it is a fundraiser does.</p>
        </div>
      </div>

    </div>
  {% endblock content %}

