{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider" style="top:1px;">
      <img src="/assets/img/main-bg.jpg" alt="" style="width:100%; height:400px;">
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
              Welcome to Fundraising Portal
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/1.png" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>Fundraising Portal</b>
                </h4>
              </div>
              <p class="text-center">
                Fundraisers generate revenue for a charitable organisation through various means, their contribution is often the only thing keeping a charity functioning as most organisations do not receive any government grants.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/2.jpeg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Donation System</b>
                </h4>
              </div>
              <p class="text-center">
                Fundraisers generate revenue for a charitable organisation through various means, their contribution is often the only thing keeping a charity functioning as most organisations do not receive any government grants.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/3.jpeg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>User Management</b>
                </h4>
              </div>
              <p class="text-center">
                Fundraisers generate revenue for a charitable organisation through various means, their contribution is often the only thing keeping a charity functioning as most organisations do not receive any government grants.
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/assets/img/4.jpeg" alt="" style="height:335px">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              About Fundraising Portal
            </h1>
            <hr>
            <p>Fundraisers generate revenue for a charitable organisation through various means, their contribution is often the only thing keeping a charity functioning as most organisations do not receive any government grants. In order to raise this money, they will approach individual people, corporations, major donors, trusts and foundations as well as doing things like organising events, all in order to raise money for their particular cause. A fundraiser may be concerned with raising awareness for their charity’s cause, but fundamentally the purpose of charity fundraising is to develop and ultimately increase donations from the organisations and individuals they work with. A quick look at CharityJob and you’ll see we have a number of different positions, some you might recognise, and others which are more ambiguous. One thing you’ll notice is that quite a few jobs are for fundraising. </p>
              <hr>
          </div>
        </div>
      </div>
    </div>
    <!--property end-->
    <script type="text/javascript" src="/assets/js/parallax-slider/jquery.cslider.js"></script>
	<script type="text/javascript">
		  $(function() {

			$('#da-slider').cslider({
			  autoplay    : true,
			  bgincrement : 100
			});

		  });
	</script>
  {% endblock content %}

